<div class="card text-center">
  <div class="card-header">
    Ashutosh Kumar Jha
  </div>
  <div class="card-body">
    <h5 class="card-title">Move your important step towards finding the jobs right way</h5>
    <p class="card-text">For more information, connect with me on my personal social media handles like instagram , twitter, linkedin, facebook, etc</p>
    <a href="#" class="btn btn-primary">Social Media Handles</a>
  </div>
  <div class="card-footer text-body-secondary">
    Best of Luck
  </div>
</div>